.projects_nav {
  display: flex;
  margin: 3rem 0 2rem 0;
  position: relative;
}

.projects_nav a {
  font-size: 1rem;
  font-weight: 400;
  background: beige;
  padding: 0.2rem 0.9rem;
  margin: 0.2rem 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  margin: 0 0.3rem;
}

/* .projects_nav a:before {
  content: "";
  width: 90%;
  position: absolute;
  height: 2px;
  border-bottom: 2px solid;
  bottom: 0;
  left: 8px;
} */

.project_container {
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.title {
  font-size: 3rem;
  margin: 0 0 3rem 0;
  position: relative;
  width: 11rem;
  padding-bottom: 0.2rem;
}

/* h2.title:before {
  content: "";
  height: 0.5rem;
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  border-bottom: 2px solid #06201a;
} */

.single_project {
  flex: 1 40%;
  box-shadow: 0.3rem 0.5rem 1.7rem #dcd4d6;
  margin: 0 0 4rem 0;
  border-radius: 0.5rem;
  padding: 1rem 1rem 2rem;
}

.single_project img {
  width: 100%;
}

.single_project_img_btn {
  position: relative;
  z-index: 2;
}

.single_project_img_btn li {
  position: absolute;
  background: rgba(5, 31, 25, 0.6);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.single_project_img_btn li a {
  margin: 0 0.7rem;
  font-size: 1rem;
  border: 1px solid #ffffff;
  border-radius: 0.4rem;
  padding: 0.6rem 0.9rem;
  font-weight: 500;
  color: #ffffff;
}

.single_project_img_btn:hover li {
  display: flex;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2rem;
}

.single_project:nth-child(odd) {
  margin-right: 2rem;
}

h6.single_project_tags {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 1rem 0 0.2rem 0;
}

h3.single_project_name {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

p.single_project_desc {
  font-size: 0.9rem;
}
